h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: blue;
    text-align: center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: green;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: rgba(144, 38, 232, 0.784);
    
}

body {
    background-color: #91DBC5;
    
}

img {
    width: 250px;
    height: auto;
    border-radius: 10%;
    
}

.poster {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }