:root {
  --titulo_A: "Archivo Black", sans-serif;
  --color_principal: #0e6147;
}



html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
 

}

body {
      display: flex;
    flex-direction: column;  
}

.fit-picture {
    width: 175px;
    border-radius: 20px;
    
}


header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    border-bottom: solid 1px rgb(147, 146, 146);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-shrink: 0;
}



.listitem{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    
}

.itemheader {
    display: inline-flex;
    text-decoration: none;
    
    font-weight: bold;


}

/*.blanc {
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    align-self: center;
    
    
} */

.container1 {
    justify-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    padding: 20px;
    justify-content: space-between;
    width: 475px;
}

.wth {
    width: 160px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 20px;
    align-self: center;
    align-items: center;
    justify-content: center;
    
    
}

.icon1 {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.btn-style700 {
  position: relative;
  align-self: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  
}

#white {
  border-color: black;
  color: black;
  background-color: white;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    border-color: #979695;
    border-radius: 5px;
    border-style: solid;
    transition: all 0.35s;
    content: "";
    z-index: 1;
  }
  &::before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
  }
  &:hover {
    border-color: #979695;
    color: #979695;
    &::before {
        width: 100%;
        border-width: 1px 0 1px 0;
    }
    &::after {
        height: 100%;
        border-width: 0 1px 0 1px;
    }
  }
}

#black {
    border-color: white;
    color: white;
    background-color: black;
    &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    border-color: #979695;
    border-radius: 5px;
    border-style: solid;
    transition: all 0.35s;
    content: "";
    z-index: 1;
  }
  &::before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
  }
  &:hover {
    border-color: #979695;
    color: #979695 ;
    &::before {
        width: 100%;
        border-width: 1px 0 1px 0;
    }
    &::after {
        height: 100%;
        border-width: 0 1px 0 1px;
    }
  }
}


.principal {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    flex-direction: row;
    overflow: hidden; /*Esto es para evitar scrool*/
    
}

.greencontainer {
  background-color: var(--color_principal);
  width: 40%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;

}

.minicont {
  position: sticky;
  
  width: 80%;
  height: 8%;
  margin: 10px auto;
}

#Titulo {
  color: white ;
  font-family: var(--titulo_A);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;  
}

#text1 {
  display: flex;
  font-size: 15px;
  align-self: flex-start;
}

#Subtitulo {
  color: white ;
  font-family: var(--titulo_A);
  font-size: 30px;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}

#Texto {
  color: white ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}

#Botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  gap: 20px;
}

#boton1 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: solid 1px white;
  color: white;
  background-color: var(--color_principal);
  font-weight: bold;
}

#boton1:hover {
  border: rgb(4, 86, 15) 1px solid;
  color: rgb(4, 86, 15);
  transition: all 0.3s ease;
}

 #boton2 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: var(--color_principal);
  background-color: white;
  font-weight: bold;
 }

 #boton2:hover {
  background-color: slategrey;
  color: black;
  transition: all 0.3s ease;
 }





.maincontainer {
  background-color:white;
  width: 60%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Esto es para probar el scroll de dos pantallas*/
/*.maincontainer::before {
  height: 200vh;
  
}¨*/

.card {
  border: solid 1px black;
  width: 100%;
  flex-shrink: 0;
}

#beneficios {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}


#parrafo1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

#Negritas {
  font-weight: bold;
  font-size: 25px;
}

.icon {
  width: 5%;
  height: 30%;
  object-fit: contain;
  margin: 0;
}

.tablas {
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 130px 60px;
  grid-gap: 10px;
  background-color: white; 
  justify-content: space-around; 
  padding-top: 20px;
  
}

.caja {
  
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mini_iconos {
  width: 70%;
  height: 70%;
  object-fit: contain;
}



#recompensas {
  height: 600px;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: 60px 170px;
  grid-gap: 10px;
  justify-content: center;
}

.caja2 {
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

#A3 {
  font-weight: bold;
  
}